<div>
	<img class='icon sort dojoDndHandle' src='./img/move.png' />
	<img class='icon event_delete' data-dojo-attach-point='btnDelete' src='./img/delete.png' data-custom-index='{{id}}'  />
	<div class='event_titre' data-dojo-attach-point='placeTitle' data-custom-index='{{id}}' style='display:inline;'> 
		<img class='icon edit' src='./img/edit.png' data-custom-index='{{id}}' onclick='loadEvent({{id}})' />
		<b><div data-dojo-attach-point='placeStartDate' style='display:inline;'></div>:</b> <div data-dojo-attach-point='placeHeadLine' style='display:inline;'></div>
	</div> 
	<br/>
</div>